@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
/*    height: 200vh;*/
    font-family: 'Montserrat', sans-serif;
    color: #8d614e;
    background-color: #f2f2f2;

}


header {
/*    height: 100vh;*/
    width: 100%;
/*
    background: url("../slike/slider-img-7.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
*/


}

/*
header .slika {
    width: 100%;
    background-image: url("../slike/slider-img-8.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
*/



/***NAVIGACIJA***/
.navbar {
    display: flex;
    justify-content: space-around;
/*    align-items: center;*/
/*    margin-top: 30px;*/

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    transition: 0.6s;
    padding: 40px 0px;
    z-index: 100000;

    animation: 1s ease-out 0s 1 slideInFromUp;
}

nav.sticky {
    padding: 5px 0px;
    background: #fff;
    font-size: smaller;
}

.hamburger {
    display: none;
    margin-right: 30px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    letter-spacing: 2px;
    margin: 0 15px;
    color: #242424;
    text-transform: uppercase;
    font-weight: 500;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #8d614e;
}

nav img {
    width: 80px;
    margin-left: 30px;
}




/****CAROUSEL****/

/* Slideshow container */
.slider-container {
/*    width: 100%;*/

/*    height: 100vh;*/

    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
/*    height: 100vh;*/

    overflow: hidden;
}

.slides {
    display: flex;
    width: 400%;
/*    height: 100vh;*/

}

.slides input{
    display: none;

}

.slide {
/*    width: 30%;*/

    width: 100vw;

    transition: 3s;
}

.slide img {
    width: 100%;

    height: 100vh;

    object-fit: cover;
    object-position: center;
}

/*CSS FOR MANUAL SLIDE*/
.navigation-manual {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: -10vh;

    display: none;
}

.manual-btn {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover {
    background: grey;
}

#radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
/*    margin-left: -30%;*/
    margin-left: -25.5%;
}
#radio3:checked ~ .first {
    margin-left: -50.5%;
}


/*CSS AUTO NAVIGATION*/
.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 90vh;

    display: none;
}

.navigation-auto div {
    border: 2px solid red;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: grey;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: grey;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: grey;
}




/***O NAMA***/
#o-nama {
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
}

#o-nama .o-nama-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
/*    padding-top: 30px;*/
    display: flex;

}

#o-nama .text {
    padding: 10px;
    flex: 50%;
}
#o-nama .text h2 {
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;

}
#o-nama .text p {
    letter-spacing: 2px;
    line-height: 1.5em;
}
#o-nama .slika1 {
    flex: 50%;
    padding: 20px;
}

#o-nama img{
    width: 100%;
    padding: 30px;
    margin: 30px;
}


/*** TRETMANI ***/
#tretmani {

}

.tretmani-container {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: 50px auto 50px auto;
}

.kartica {
    flex: 30%;
    background-color: #fff;
/*    margin: 5px;*/
    padding: 30px;
    margin: 15px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.007), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.kartica:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    transition: 0.6s;
}

.tretmani-naslov h2 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

.tretmani-naslov p {
    letter-spacing: 2px;
    margin: 10px 30px;
    padding-bottom: 30px;
}

.kartica h3 {
    margin: 10px 0;
    font-weight: 450;
}
.kartica p {
    padding: 10px 0;
}

.kartica img {
    width: 60px;
    margin: 10px;
}
.kartica img:hover {
    transform: scale(1.2);
    transition: .6s;
}

/*
.kartica {
    data-aos="fade-up"
    data-aos-offset="200"
    data-aos-delay="50"
    data-aos-duration="1000"
    data-aos-easing="ease-in-out"
    data-aos-mirror="true"
    data-aos-once="false"
    data-aos-anchor-placement="top-center"
}
*/



/*** GALERIJA 1 ***/
.gallery1 {
    width: 100%;
    background: #f9f9f9;
}

.gallery1 img {
    width: 100%;
    padding: 5px;

}

.gallery1 img:hover {
    opacity: .5;
    transition: .5s
}

.gallery1-container {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

.red-gallery {
    flex: 25%;
}





/*** CENOVNIK ***/
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.1s;
    border-bottom: 1px solid #8d614e73;
  }

   .active, .accordion:hover {
    background-color: #8d614e42;
  }

  .panel {
    padding: 0 0px;
    display: none;
    background-color: white;
    overflow: hidden;

    font-size: 1.4em;

    /* transition: all 0.25s ease-in-out; */
  }


  table {
    /* font-family: arial, sans-serif; */
    border-collapse: collapse;
    width: 100%;

  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 20px;
    font-size: .8em;
  }

  tr:nth-child(even) {
    background-color: #f7f7f7;
  }

  tr:hover {
      background-color: #f2f2f2;
  }

#cjenovnik {
    background-color: #f2f2f2;
}

.cjenovnik-container {
    max-width: 700px;

    margin: 20px auto;
}

#cjenovnik .cen-text {
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 1.1em;
   }

#cjenovnik h2 {
    text-transform: uppercase;
    font-weight: 400;
    padding: 20px 0;
    letter-spacing: 1px;
    line-height: 1.5em;
}

#cjenovnik p {
    margin-bottom: 25px;
    padding: 30px;
}

.tabela {

}

.pointer {
    color: #8d614e;

    margin-right: 10px;
}



/*** ZAKAZI TRETMAN ***/
#zakazi-termin {
    width: 100%;
    background-image: url("../slike/skincare-product-1-1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/*    position: absolute;*/

}

.termin-container {
    background-color: #fff;

    max-width: 350px;
    margin-top: 8em;
    margin-left: 10vw;

    position: absolute;
}

input {
    padding: 10px;
    margin-bottom: 10px;

    width: 100%;



}

.red-termin {
    display: flex;
}

.kol-1 {
    flex: 50%;

}

.kol-2 {
    flex: 50%;
    margin-left: 10px;
}


input[type=submit] {
    width: 100%;
    margin-top: 10px;
    background-color: #c19887;
    color: #fff;
    border: none;
    letter-spacing: 2px;
}


textarea {
    width: 100%;
    padding: 10px;
}


form {
    padding: 15px;
}







/*** KONTAKT ***/
.mapa iframe {
    width: 100%;
    height: 60vh;
    margin-top: -70px;
    z-index: -222;
    position: relative;
    filter: grayscale(100%);
}
iframe:hover {
    filter: none;
}

.kontakt-container {
    width: 100%;
    margin-top: 70px;
/*    height: 90vh;*/
}


.adresa {
    max-width: 450px;

    background-color: #fff;

/*    position: absolute;*/

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;



    padding: 20px;



    align-items: center;

    /* border: 1px solid red; */
}

.adresa .adr-podaci {
    display: flex;

}

.adresa h3 {
    text-align: center;
    padding: 15px;
}



/*** FOOTER ***/
footer {
    background-color: #242424;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    text-align: center;

}

footer a {
    text-decoration: none;
    color: #c19887;
    text-transform: uppercase;
    display: block;
    padding: 15px;
}

.flogo img {
    width: 130px;
}

.fbox4 p {

    color: #c19887;
    padding: 10px;


}

.fbox1, .fbox2, .fbox3 {
        border-right: 1px solid #c19887;

    }



























/*TEKST ULECE ODOZGO*/
@keyframes slideInFromUp {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}




@media only screen and (max-width: 762px) {
	header, header ul{
		display: flex;
	}

/*MOBILE MENU*/
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 1.9rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background: #8d614e;
    }


    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }







/* Slideshow container */

    .slider-container {
/*        height: 100vh;*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    /*    overflow: hidden;*/
    }

    .slider {
/*        width: 100%;*/
/*        height: 100vh;*/
    }

    .slides {
        display: flex;
        width: 400%;
        overflow: hidden;
        margin: 0;
        padding: 0;

    }

    .slides input{
        display: none;
    }

    .slide {
        width: 30%;
        transition: 3s;
    }


    .slide img {
        width: 100%;
        height: 80vh;
    }


/*CSS FOR MANUAL SLIDE*/
    .navigation-manual {
        margin-top: -55vh;
/*        display: none;*/

    }

    #radio1:checked ~ .first {
    margin-left: 0;
}
    #radio2:checked ~ .first {
/*    margin-left: -30%;*/
    margin-left: -30%;
}
    #radio3:checked ~ .first {
    margin-left: -60%;
}


    /*CSS AUTO NAVIGATION*/
    .navigation-auto {
        margin-top: 45vh;
/*        display: none;*/
    }


/***O NAMA***/
    #o-nama .o-nama-container {
/*
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
*/
    flex-direction: column;
    }
    #o-nama .text {
        padding: 0 30px;
    }
    #o-nama img {
        margin: 0px;
        padding: 60px;
    }



    .gallery1-container {

    }

    .red-gallery {
        flex: 100%;
/*        flex-direction: column;*/
    }


    #o-nama h2 {
        text-align: center;
/*        padding-top: 20px;*/
    }


/*
    .red-termin {
        flex: 100%;
    }

*/


/*** TRETMANI ***/
    #tretmani {

    }

    .tretmani-container {
        display: flex;
/*        flex-wrap: wrap;*/
        width: 100%;
        padding: 0 30px;
    }

    .kartica {
        flex: 100%;
    }


/*** CENOVNIK ***/

    .tabela {
        padding: 20px;
    }




/*** ZAKAZI TERMIN***/
    .termin-container {
        background-color: #fff;
        width: 80%;

/*


/*
        margin-left:  auto;
        margin-right: auto;
*/
        margin-top: 50px;

/*
        top: rem;
        left: rem;
*/


/*
        margin-left: auto;
        margin-right: auto;
*/
    }

/*
    .ime-prezime, .datum-vreme, .mail-broj {
        flex-direction: column;

    }
*/

    .termin-container input {
/*        width: 90%;*/
        margin-left:  auto;
        margin-right: auto;
    }

    .napomena {
        width: 90%;
        margin: auto;
    }



/*
    form {
        margin-left: auto;
        margin-right: auto;
    }
*/

    .red-termin {
        display: block;


    }

    .kol-1 {
/*        flex: 100%;*/
    }

    .kol-2 {
        margin-left: 0;
/*        flex: 100%;*/
    }

    .termin-container {
/*
        margin-left: auto;
        margin-right: auto;
*/

    }





/*** KONTAKT ***/
    .adresa {
        max-width: 80%;
        background-color: #fff;

        position: relative;
        left: 0%;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;

        padding: 30px;

        align-items: center;

        /* border: 1px solid red; */
    }

    .mapa iframe {
        width: 100%;
        height: 60vh;
        margin-top: -70px;
/*        z-index: -222;*/
/*        position: absolute;*/
        filter: grayscale(100%);
    }






/*** FOOTER ***/
    footer {
        flex-direction: column;
    }

    .fbox1, .fbox2, .fbox3, .fbox4 {
        border-bottom: 1px solid #c19887;

    }


}














@media only screen and (min-width: 601px) and (max-width: 762px) {

    .red-gallery {
        flex: 50%;
    }





}
